[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AmpGram"]
	path = AmpGram
	url = https://github.com/michbur/ampgram
[submodule "AmyloGram"]
	path = AmyloGram
	url = https://github.com/michbur/amylogram
[submodule "bcv"]
	path = bcv
	url = https://github.com/michbur/bcv
[submodule "biogram"]
	path = biogram
	url = https://github.com/michbur/biogram
[submodule "signalHsmm"]
	path = signalHsmm
	url = https://github.com/michbur/signalhsmm
